.Reido-right {
    position: fixed;
    right: 0px;
    bottom: 40px;
}

.header {
    background-color: #FF95CA;
    position: fixed;
    line-height: 50px;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    z-index: 4;
}

.big-title {
    text-align: center;
    padding-inline-start: 8px;
    margin: 0px;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
    vertical-align: middle;
}

.second-title {
    text-align: center;
    padding-inline-start: 8px;
    margin: 0px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 1;
    vertical-align: middle;
}

.bg-pic {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -4;
}

.bg-pic img {
    min-height: 100%;
    width: 30%;
}

.buttons {
    position: relative;
    text-align: start;
    left: 480px;
}

.buttons a.twitter-b input {
    width: 80px;
    height: 80px;
}

.buttons a.reality-b input {
    width: 80px;
    height: 80px;
}

.buttons a.github-b input {
    width: 80px;
    height: 80px;
}

main {
    width: 400px;
}

body {
    position: relative;
    top: 70px;
    height: 1150px;
}

dialog.popup {
    position: flex;
    border: none;
    box-shadow: 0 2px 6px #ccc;
    border-radius: 10px;
    background-color: #000000;
    width: 1400px;
}

img.popup-pic {
    position: relative;
    display: block;
    margin: auto;
    height: 1000px;
}

button.close-b {
    position: relative;
    left: 620px;
    top: 10px;
    height: 50px;
}

.welcome-message {
    position: relative;
    text-align: start;
    left: 480px;
}

.Self-introduction {
    position: relative;
    text-align: start;
    left: 480px;
}

.about-me {
    position: relative;
    text-align: start;
    left: 480px;
}

.more-about-me {
    position: relative;
    text-align: start;
    left: 480px;
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 0px;
    height: 65px;
    background-color: #D3A4FF;
}

.footers p.footer-word {
    position: relative;
    bottom: 15px;
}